<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.eduservice.mapper.EduCourseDescriptionMapper">

    <resultMap id="BaseResultMap" type="com.cn.eduservice.domain.EduCourseDescription">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,description,gmt_create,
        gmt_modified
    </sql>
</mapper>
