<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.eduservice.mapper.EduCommentMapper">

    <resultMap id="BaseResultMap" type="com.cn.eduservice.domain.EduComment">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="CHAR"/>
            <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,teacher_id,
        member_id,nickname,avatar,
        content,is_deleted,gmt_create,
        gmt_modified
    </sql>
</mapper>
