<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.eduservice.mapper.EduVideoMapper">

    <resultMap id="BaseResultMap" type="com.cn.eduservice.domain.EduVideo">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="courseId" column="course_id" jdbcType="CHAR"/>
            <result property="chapterId" column="chapter_id" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="videoSourceId" column="video_source_id" jdbcType="VARCHAR"/>
            <result property="videoOriginalName" column="video_original_name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="OTHER"/>
            <result property="playCount" column="play_count" jdbcType="BIGINT"/>
            <result property="isFree" column="is_free" jdbcType="TINYINT"/>
            <result property="duration" column="duration" jdbcType="FLOAT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,chapter_id,
        title,video_source_id,video_original_name,
        sort,play_count,is_free,
        duration,status,size,
        version,gmt_create,gmt_modified
    </sql>
    <delete id="deleteByCourseId">
        delete
        from edu_video
        where course_id = #{courseId,jdbcType=VARCHAR}
    </delete>
</mapper>
