<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.eduservice.mapper.EduTeacherMapper">

    <resultMap id="BaseResultMap" type="com.cn.eduservice.domain.EduTeacher">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="career" column="career" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="OTHER"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="OTHER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,intro,
        career,level,avatar,
        sort,is_deleted,gmt_create,
        gmt_modified
    </sql>
</mapper>
