<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.eduorder.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.cn.eduorder.domain.Order">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="courseTitle" column="course_title" jdbcType="VARCHAR"/>
            <result property="courseCover" column="course_cover" jdbcType="VARCHAR"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="totalFee" column="total_fee" jdbcType="DECIMAL"/>
            <result property="payType" column="pay_type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,course_id,
        course_title,course_cover,teacher_name,
        member_id,nickname,mobile,
        total_fee,pay_type,status,
        is_deleted,gmt_create,gmt_modified
    </sql>
    <select id="selectOneByOrderNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where
        order_no = #{orderNo,jdbcType=VARCHAR}
    </select>
</mapper>
